{% extends "layout.html.twig" %}

{% block content %}
    <h1>Welcome {{ user.nickname }}</h1>
    <p><a href="{{ logout_url }}">Logout</a></p>
    
    <h2>Projects</h2>
    <ul id="user_projects">
        {% for project in user_projects %}
            <li>{{ project }}</li>
        {% endfor %}
    </ul>        

    <h2>Starred</h2>
    <ul id="starred_projects">
        {% for project in starred_projects %}
            <li>{{ project }}</li>
        {% endfor %}
    </ul>    

{% endblock %}
